# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#custom ignores
/ignoreStuff

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/fonts/glyphicons-halflings-regular.eot
src/fonts/glyphicons-halflings-regular.svg
src/fonts/glyphicons-halflings-regular.ttf
src/fonts/glyphicons-halflings-regular.woff
src/fonts/glyphicons-halflings-regular.woff2
src/components/testParse.js
build-github/asset-manifest.json
build-github/favicon.ico
build-github/index.html
build-github/logo192.png
build-github/logo512.png
build-github/manifest.json
build-github/robots.txt
build-github/static/css/main.bd0cac3a.css
build-github/static/css/main.bd0cac3a.css.map
build-github/static/js/main.672957fa.js
build-github/static/js/main.672957fa.js.LICENSE.txt
build-github/static/js/main.672957fa.js.map
build-github/static/media/Precious.265572f50024317dee95.ttf
src/svg/trivialEndeavorLogo.svg
