/* None of this is in the app yet */

.slow {
	transition: height 2s ease-in-out;
}

.collapse {
	height: 0;
	overflow: hidden;
}

/* All color transitions should be 1 second long. */
/* * {
	transition: background-color 1s ease;
} */
