/* Define the precious font face */
@font-face {
  font-family: 'precious';
  src: url('../fonts/Precious.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#root {
  border: 0.25em double white;
  margin: 0.25em;
 } 

#logo, .fancy-font {
  /* font-size: 15vw; */
	font-family: 'courier new';
  font-weight: 900;
  /* letter-spacing: 0.5rem; */
}

body {
  font-size:30px;
}

.btn {
  font-size: 30px;
}
	
/* .h1,h1 {
	font-size:8.5rem;
	margin-top: 60px;
} */


